.dark-theme {
  /* --secondary-color: #334155; */

  --primary-950: #faf5ff;
  --primary-900: #f4e8ff;
  --primary-800: #ebd5ff;
  --primary-700: #dcb4fe;
  --primary-600: #c484fc;
  --primary-500: #ac55f7;
  --primary-400: #9533ea;
  --primary-300: #7e22ce;
  --primary-200: #6921a8;
  --primary-100: #551c87;
  --primary-50: #390764;

  --secondary-950: #f4f6f7;
  --secondary-900: #e2e6eb;
  --secondary-800: #c9cfd8;
  --secondary-700: #a3aebd;
  --secondary-600: #76859a;
  --secondary-500: #64748b;
  --secondary-400: #4e596c;
  --secondary-300: #444b5a;
  --secondary-200: #3d424d;
  --secondary-100: #363a43;
  --secondary-50: #21242b;
}
